<% include header %>

<div class="ui comments">
        <div class="comment">
            <div class="metadata">  </div>
            <a class="avatar" href="/message/<%= message.id %>">
                <img src="https://cdn3.iconfinder.com/data/icons/users-6/100/654853-user-men-2-512.png">
            </a>
            <div class="content">
                <div class="test">
                    <%= message.content %>
                </div>
            </div>
        </div>
</div>

<% include footer %>